**/__pycache__/

# temporary developement files
exp*.py

# ide config
.idea/
.vscode/

# environments for development and local test runs
venv/
act/
.actrc

# build output directories
dist/
build/
fastf1.egg-info/

# version info dynamically created by setuptools-scm
fastf1/_version.py

# temporary testrun directories
fastf1/tests/testenv/
fastf1/tests/mpl-results/
fastf1/tests/mpl-baseline-new/

# documentation build directories
docs/_build/
docs/gen_modules/
**/sg_execution_times.rst

# all variations of cache directories
*_cache/
.DS_Store

# other data directories
reference/
recordings/
