**/__pycache__/

# temporary developement files
exp*.py

# ide config
.idea/

# environments for development and local test runs
venv/
act/
.actrc
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# build output directories
dist/
build/
fastf1.egg-info/

# temporary testrun directories
fastf1/tests/testenv/
fastf1/tests/mpl-results/
fastf1/tests/mpl-baseline-new/

# documentation build directories
docs/_build/
docs/examples_gallery/

# all variations of cache directories
*_cache/

# other data directories
reference/
recordings/
