name: Hatch SCM versioning test

on:
  workflow_dispatch:

jobs:
  versioning-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # fetch the complete repo history (for setuptools-scm)
    - uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade hatch

    # if this is a manual dispatch, upload to TestPyPI
    - name: Get SCM based version from build system
      run: |
        hatch version